.full-height-content {
  display: flex;
  height: calc(100vh - 132px);
  min-height: calc(100vh - 132px);
  width: 100%;

  .right-sidebar {
    display: flex;
    flex-direction: column;
    width: 350px;
    min-width: 350px;
  }

  nb-card {
    flex-grow: 1;
    height: calc(100% - 10px);
  }
}
