<div class="full-height-content">
  <nb-card class="table-card" [nbSpinner]="loading | async" nbSpinnerStatus="danger">
    <nb-card-header>
      <div>Планирование</div>
      <div>
        <ng-container *ngIf="this.mainWork">
          <b>Суммарная стоимость:</b> {{ this.mainWork.totalCost | currency:'':'' + 'у.е.' }}
        </ng-container>
      </div>
    </nb-card-header>

    <nb-card-body>
      <ngx-jobs-grid
        *ngFor="let item of opened | async; index as i;"
        [parent]="item"
        [depthLevel]="i"
        (dataFetched)="onDataFetched()"
      ></ngx-jobs-grid>
    </nb-card-body>
  </nb-card>

  <div class="right-sidebar">
    <ngx-job-info *ngIf="selected | async"></ngx-job-info>
  </div>
</div>
