<div class="info-wrapper">
  <div class="info-content">
    <nb-card>
      <nb-card-body>
        <div class="row">
          <div class="col-6">
            Название:
          </div>
          <div class="col-6">
            {{ item.jobName }}
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            Плановая дата старта:
          </div>
          <div class="col-6">
            {{ item.plannedStartDate | date:'dd.MM.yyyy' }}
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            Фактическая ата старта:
          </div>
          <div class="col-6">
            {{ item.factStartDate | date:'dd.MM.yyyy' }}
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            Длительность:
          </div>
          <div class="col-6">
            {{ item.normDuration }}
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            Минимальная длительность:
          </div>
          <div class="col-6">
            {{ item.minimalDuration }}
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <button nbButton matRipple status="info" size="small" class="float-right" (click)="onEditClick()">
              <nb-icon pack="eva" icon="edit-outline"></nb-icon>
              Изменить
            </button>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-body>
        <div class="row">
          <div class="col-6">
            Текущие потери:
          </div>
          <div class="col-6">
            {{ item.addedCost }}
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            Текущие потери зависимых работ:
          </div>
          <div class="col-6">
            {{ item.addedChildrenCost }}
          </div>
        </div>

        <div class="row" *ngIf="item.newAddedCost">
          <div class="col-6">
            Возможные потери:
          </div>
          <div class="col-6">
            {{ item.newAddedCost }}
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
