.info-wrapper {
  display: flex;
  padding-left: 20px;
  //height: 100%;
  width: 100%;

  .info-content {
    nb-card {
      position: relative;
    }

    width: 100%;

    .row {
      margin-bottom: 8px;

      .col-6 {
        align-items: center;
        display: flex;

        &:last-of-type {
          font-weight: 600;
        }
      }
    }
  }
}
