<div class="header">
  <h3>Обзор проекта</h3>
  <!--<nb-select matRipple [selected]="type" (selectedChange)="changePeriod($event)">
    <nb-option matRipple *ngFor="let period of types" [value]="period">{{ period }}</nb-option>
  </nb-select>-->
</div>
<hr>

<div class="row">
  <div class="col-xxl-8">
    <ngx-costs-card></ngx-costs-card>
  </div>
  <div class="col-xxl-4">
    <nb-card>
      <nb-card-header>Сводка по работам</nb-card-header>
      <nb-card-body>
        <ngx-chartjs-pie></ngx-chartjs-pie>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-xxl-7">
<!--    <ngx-ecommerce-charts></ngx-ecommerce-charts>-->
  </div>
</div>

