<div class="header">
  <h3>Обзор проекта</h3>
</div>
<hr>

<div class="row">
  <div class="col-xxl-8">
    <ngx-costs-card></ngx-costs-card>
  </div>
  <div class="col-xxl-4">
    <nb-card size="tiny">
      <nb-card-header>Суммарные потери</nb-card-header>
      <nb-card-body>
        <h1 class="text-warning"> {{ 1354686 | currency:'':'' + 'у.е.' }}</h1>
      </nb-card-body>
    </nb-card>
    <nb-card size="small">
      <nb-card-header>Сводка по работам</nb-card-header>
      <nb-card-body>
        <ngx-chartjs-pie></ngx-chartjs-pie>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-xxl-7">
<!--    <ngx-ecommerce-charts></ngx-ecommerce-charts>-->
  </div>
</div>

