<div class="row" *ngIf="parentId">
  <div class="col">
    <h5>{{ parent.name }}</h5>
  </div>
</div>
<div class="jobs-grid">
  <div
    *ngFor="let item of data; trackBy: trackByFn" (click)="onOpenClick(item.id, $event)"
    [ngClass]="{
      'selected': item.id === (selected | async),
      'opened': (opened | async).includes(item.id)
    }"
  >
    <div class="bg-wrapper"
       [ngStyle]="
         {
          'background-color':  'rgba(240, 52, 52, ' + (item.currentCost + item.childrenCost) / levelSum + ')'
         }
       "></div>
    <div style="width: 100%">{{ item.name }}</div>
    <div style="width: 100%">{{ (item.currentCost + item.childrenCost) | currency }}</div>
    <nb-icon
      class="toggle-icon"
      pack="eva"
      [icon]="(opened | async).includes(item.id) ? 'arrowhead-up' : 'arrowhead-down'"
    ></nb-icon>

    <nb-icon class="bounce" pack="eva" icon="bell-outline" *ngIf="item.oldCurrentCost"></nb-icon>
  </div>
</div>

